@use '~bootstrap/scss/bootstrap';
@use "@fortawesome/fontawesome-free/css/all.min.css";

.my-img-container {
    height: 342px;
    overflow: hidden;
}
.my-thumb {
    width: 80px;
}
.my-old-img-container {
    border: 1px dashed lightgray;
    padding: 5px 0;
}
.my-thumb-show {
    width: 280px;
}